# ---- R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofil*
.Rbuildignore

# ---- renv (manter renv.lock; ignorar libs locais)
renv/library/
renv/staging/

# ---- Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
.env.*

# ---- Quarto
# NÃO ignore docs/ → necessário para GitHub Pages
.quarto/
.quarto/idx/
.quarto/project-cache/
.quarto/xref/
SITE/_site/
SITE/.quarto/
SITE/_freeze/
SITE/site_libs/

# ---- SO / editor
.DS_Store
Thumbs.db
*.swp
*.swo

# ---- Dados locais (se existirem)
data/
dados/

# ---- Ambiente R
.Renviron
SITE/.gitignore